
.container {
  background-color: #fdfbff;
  padding: 16px;
}

.tabBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdfbff;
  margin-top: 20px;
}

.tabBarButton {
  background-color: transparent;
}

.progressBar {
  background-color: #f4f2f6;
  height: 4px;
  border-radius: 100px;
  flex-grow: 1;
  margin: 0 35px;
}

.progressBarFilled {
  background-color: #780bcd;
  height: 4px;
  border-radius: 100px;
}
